# Random Sample from Test Set
This notebook loads `test.csv`, randomly selects n sample, and saves it to `data/outputs`

In [6]:
import os
import pandas as pd

# Load test dataset
test_df = pd.read_csv('../data/processed/test.csv')

# Randomly select one sample
sample = test_df.sample(1, random_state=105)
print("\nSelected sample:")
display(sample)

# Ensure output directory exists
output_dir = '../data/outputs'
os.makedirs(output_dir, exist_ok=True)

# Save sample to CSV
output_path = os.path.join(output_dir, 'random_sample.csv')
sample.to_csv(output_path, index=False)
print(f"\nSample saved to: {output_path}")

Selected sample:

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
48268,367495,0,Cash loans,F,N,Y,2,157500.0,490495.5,38884.5,...,0,0,0,0,0,0,0,0,0,0

Sample saved to: ../data/outputs/random_sample.csv

# Code has been generated using Deepseek, Chatgpt, and Claude.ai then tweaked